.calendarTiming {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px 15px 15px 15px;
  box-sizing: border-box;

  :global {
    .calendarTiming-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      &-user {
        display: flex;
        align-items: center;
        &-details {
          margin-left: 15px;
          &-name {
            font-size: var(--fs-xl);
            font-weight: 700;
          }
        }
      }
      &-options {

      }
    }

    .calendarTiming-toolbar {
      display: flex;
      justify-content: space-between;
      h1 {
        margin: 0 15px 0 10px;
        font-size: 18px;
      }
      &-left, &-right {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      &-right {

      }
    }

    .modeTabs {
      :global {
        .ant-tabs-tab {
          padding: 4px 12px;
          font-size: var(--fs-sm);
          
          .anticon {
            margin-right: 4px;
          }
        }
        
        .ant-tabs-tab-active {
          background: var(--colorPrimary1);
          border-radius: 6px;
        }
      }
    }
    .fc-daygrid-day.fc-day-today {
      background: transparent;
      .calendarTimingItem-top-day {
        background: var(--colorPrimary5);
        color: #fff;
      }
    }
    .fc-daygrid-day-frame {
      display: flex;
      .fc-daygrid-day-top {
        display: flex;
        flex: 1;
        .fc-daygrid-day-number {
          z-index: auto;
          padding: 0;
          flex: 1;
        }
      }
      .fc-daygrid-day-events {
        display: none;
      }
    }
    .fc-media-screen {
      display: flex;
      flex-direction: column;
      min-height: 0;
    }
    .calendarTiming-calendar {
      position: relative;
      display: flex;
      flex-direction: column;
      min-height: 0;
      height: 100%;
      .fc-scrollgrid {
        border-top: none !important;
      }
      thead {
        background: var(--whiteColor);
        z-index: 5;
        .fc-scroller-harness {
          border-top: 1px solid var(--fc-border-color);
        }
        .fc-scrollgrid-sync-inner {
          padding: 5px 0;
        }
      }
    }
  }
}

.slideLeftEnter {
  opacity: 0;
  transform: translateX(50px);
}
.slideLeftEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.slideLeftExit {
  opacity: 1;
  transform: translateX(0);
}
.slideLeftExitActive {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 300ms, transform 300ms;
}
.slideRightEnter {
  opacity: 0;
  transform: translateX(-50px);
}
.slideRightEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.slideRightExit {
  opacity: 1;
  transform: translateX(0);
}
.slideRightExitActive {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 300ms, transform 300ms;
}
.fadeEnter {
  opacity: 0;
}
.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms;
}
.fadeExit {
  opacity: 1;
}
.fadeExitActive {
  opacity: 0;
  transition: opacity 300ms;
}

.allPlatIcon {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border: 1px solid var(--grayColor8);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    li {
      border: 2px solid #333;
      border-radius: 50%;
      flex-shrink: 0;
      margin: 0.5px;
    }
  }
}