.loginForm-getCode {
  color: var(--colorPrimary5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;

  &:hover {
    color: var(--colorPrimary4);
  }
  &:active {
    color: var(--colorPrimary6);
  }

  :global {
    .ant-statistic-content {
      display: flex;
      align-items: center;
    }
    span {
      font-size: 14px;
      font-weight: 400;
      color: var(--colorPrimary5);
    }
  }
}

.loginForm-getCode--disable {
  cursor: no-drop;
}