.ALModaltitle {
  display: flex;
  align-items: center;
  :global {
    .ALModaltitle-title {
      display: block;
      margin-right: 10px;
    }
    .ALModaltitle-switch {
      display: flex;
      align-items: center;
      & > span {
        font-weight: 400;
        font-size: var(--fs-xs);
        display: block;
        margin-right: 5px;
      }
    }
  }
}