// 内容包装器
@mixin contentWrapper {
  margin: 0 auto;
  width: 1200px !important;
  min-height: 0 !important;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    width: 95% !important;
    margin: 0 auto;
  }
}

// 外部容器包装器
@mixin wrapper {
  margin: 0 auto;
  width: 1438px;
  box-sizing: border-box;

  @media (max-width: 1500px) {
    width: 1200px;
  }

  @media (max-width: 1200px) {
    width: 100%;
    padding: 0 15px;
  }
}

// antd table 布局 100%
@mixin table-flex-container-with-selectors() {
  .ant-table-wrapper,
  .ant-spin-nested-loading,
  .ant-table,
  .ant-table-container,
  .ant-table-body,
  .ant-spin-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    max-height: none !important;
  }
}

// 溢出隐藏 @param $line 行数
@mixin omitText($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}