$boxHegiht: 110px;

.pubParmasTextarea {
  border: 1px solid var(--grayColor4);
  border-radius: 6px;
  flex: 1;
  text-align: left;

  :global {
    .pubParmasTextarea-input {
      padding: 15px;
      position: relative;

      textarea,
      .ant-input-outlined {
        resize: none;
        border-radius: 3px;
        border: none;
        box-shadow: none !important;
        padding: 0;
      }
    }

    .ant-upload-wrapper {
      display: none;
    }

    .pubParmasTextarea-uploads {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      flex-wrap: wrap;
      gap: 10px;

      .pubParmasTextarea-uploads-upload {
        position: relative;
        height: $boxHegiht;

        &-loading {
          border: 1px dashed var(--colorPrimary3);
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
        }

        &-count {
          position: absolute;
          top: 5px;
          right: 5px;
          background: var(--colorPrimary5);
          color: #fff;
          width: 18px;
          height: 18px;
          line-height: 18px;
          text-align: center;
          border-radius: 50%;
          font-size: var(--fs-xs);
        }

        &-blocker {
          width: 100%;
          height: 100%;
          border: 1px dashed var(--grayColor4);
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          gap: 10px;

          &:hover {
            border-color: var(--colorPrimary3);
          }
        }
      }

      &-item {
        //width: 98px;
        height: $boxHegiht;
        border: 1px solid var(--grayColor4);
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;

        &-edit {
          position: absolute;
          bottom: 3px;
          right: 3px;
        }

        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &-video {
          width: 100%;
          height: 100%;
        }

        &-play {
          position: absolute;
          color: #fff;
          background: rgba(255, 255, 255, 0.6);
          border-radius: 50%;
          width: 25px;
          height: 25px;
          font-size: 20px;
          text-align: center;
          line-height: 25px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &-close {
          color: #fff;
          background: rgba(0, 0, 0, 0.8);
          width: 24px;
          height: 24px;
          text-align: center;
          line-height: 20px;
          border-radius: 50%;
          font-size: var(--fs-xs);
          position: absolute;
          right: -5px;
          top: -5px;
          border: 2px solid #fff;
          transform: scale(1);
          transition: 0.3s;
          z-index: 10;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .pubParmasTextarea-menus {
      display: flex;
      border-top: 1px solid var(--grayColor4);
      padding: 15px 0;

      &-item {
        border-right: 1px solid var(--grayColor4);
        display: flex;
        padding: 0 20px;
      }
    }

    .pubParmasTextarea-footer {
      border-top: 1px solid var(--grayColor4);

      &-options {
        padding: 10px 15px;
        position: relative;

        &-left {
          display: flex;
          align-items: center;

          &-item {
            border-left: 1px solid var(--grayColor4);
            padding: 0 5px;

            &:first-child {
              border-left: none;
            }
          }
        }

        &-aibrush {
          background: linear-gradient(90deg, #fff, #fff) !important;
          transition: 0.3s;

          &:hover {
            background: linear-gradient(90deg, #ba6bff1a, #0715ff1a) !important;
          }

          &:active {
            background: linear-gradient(90deg, #ba6bff33, #0715ff33) !important;
          }
        }

        .pubParmasTextarea-maxLength {
          position: absolute;
          border: 1px solid #505050;
          border-radius: 6px;
          padding: 0 6px;
          top: 50%;
          transform: translateY(-50%);
          right: 15px;
        }
      }

      &-extend {
        border-top: 1px solid var(--grayColor4);
        padding: 15px 15px 10px 15px;
      }
    }
  }
}

// 上传项动画
.itemEnter {
  opacity: 0;
  transform: scale(0.8);
}

.itemEnterActive {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 300ms,
    transform 300ms;
}

.itemExit {
  opacity: 1;
  transform: scale(1);
}

.itemExitActive {
  opacity: 0;
  transform: scale(0.8);
  transition:
    opacity 300ms,
    transform 300ms;
}
