.calendarTimingItem {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  min-height: 200px;
  height: 100%;
  :global {
    .calendarTimingItem-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      .calendarTimingItem-top-day {
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 50%;
        margin-bottom: 3px;
      }
      button {
        font-size: var(--fs-xs);
        display: none;
      }
    }
    .calendarTimingItem-con {
      .calendarTimingItem-con-btn2 {
        display: none;
      }
      button {
        width: 100%;
        margin-bottom: 8px;
        font-size: var(--fs-xs);
        padding: 0;
        height: 34px;
        &:hover {
          .calendarTimingItem-con-btn2 {
            display: block;
          }
          .calendarTimingItem-con-btn1 {
            display: none;
          }
        }
      }
    }
  }

  &:hover {
    :global {
      .calendarTimingItem-top {
        button {
          display: block !important;
        }
      }
    }
  }
}

.calendarTimingItemPast {
  background: var(--grayColor1);
}

.calendarTimingItem_over {
  background: var(--colorPrimary3);
}