.aiTool {
  height: 100%;
  display: flex;
  :global {
    .ant-menu {
      height: 100%;
      box-sizing: border-box;
      padding-top: 20px;
      svg {
        font-size: 20px;
      }
    }
  }
}