.hotEvent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  :global {
    .hotEvent-item {
      width: calc(50% - 15px);
      margin-bottom: 30px;
      .anticon {
        font-size: 20px;
        margin-right: 8px;
      }
      &-head {
        box-sizing: border-box;
        padding: 0 15px;
        height: 45px;
        line-height: 45px;
        border-radius: 10px 10px 0 0;
      }
    }
  }
}

.hotEvent-item-content {
  :global {
    .ant-table-body {
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    thead {
      .ant-table-cell {
        background: #fff !important;
        padding: 8px 10px !important;
        font-weight: 400 !important;
        font-size: var(--fs-xs) !important;
        color: var(--grayColor7) !important;
        border: none !important;
        &:before {
          display: none !important;
        }
      }
    }
    tbody {
      .ant-table-cell {
        padding: 10px !important;
        border: none !important;
      }
      tr {
        cursor: pointer;
      }
    }
  }
}

.hotEventTitle {
  @include omitText(1);
  &:hover {
    color: var(--colorPrimary5);
  }
}

.ranking {
  position: relative;
  display: flex;
  align-items: center;
  :global {
    .rankingTopthree-rise, .rankingTopthree-fall {
      position: absolute;
      display: flex;
      align-items: center;
      top: 50%;
      right: 0;
      transform: translate(40%, -50%);
      .anticon {
        font-size: 12px;
      }
    }
    .rankingTopthree-name {
      position: relative;
      left: -10px;
      font-size: var(--fs-xs);
    }
    .rankingTopthree-rise {
      color: var(--error-color);
    }
    .rankingTopthree-fall {
      color: var(--success-color);
      .anticon {
        transform: rotate(180deg);
      }
    }
  }
}