.platParamsSetting {
  :global {
    .platParamsSetting-wrapper {
      display: flex;
      width: 100%;
    }
    .platParamsSetting-icon {
      margin: 5px 10px 0 0;
      img {
        width: 25px;
        height: 25px;
      }
    }
    .platParamsSetting-des {
      border: 1px solid var(--grayColor3);
      width: 100%;
      border-radius: 4px;
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-left: 15px;
      color: var(--grayColor11);
    }

    .platParamsSetting-label {
      flex-shrink: 0;
      width: 90px;
    }
  }
}

.platParamsSetting_expand {
  display: flex;
  align-items: center;
}

.commonTitleInput {
  display: flex;
  align-items: center;
}
