<key>com.apple.security.cs.allow-jit</key> //electron20+必须有此项否则闪退 <true/> <key>com.apple.security.cs.allow-unsigned-executable-memory</key> //防闪退 <true/> <key>com.apple.security.cs.disable-library-validation</key> //防闪退 <true/> //此项以下开始为自定义的权限，根据你的应用情况按需添加，不能多不能少 <key>com.apple.security.files.user-selected.read-only</key> //如果electron有showOpenDialog则必须有此项 <true/> <key>com.apple.security.files.user-selected.read-write</key> //如果electron有showSaveDialog则必须有此项 <true/> <key>com.apple.security.files.downloads.read-write</key> <true/> 