.languageDropdown {
  border: 1px solid #ccc;
}


.layoutNavPC {
  display: flex;
  align-items: center;
  a {
    //color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  @media (max-width: 860px) {
    display: none;
  }
  & > li {
    position: relative;
    height: 100%;
    display: flex;
    margin-right: 50px;
    align-items: center;
    @media (max-width: 1200px) {
      margin-right: 30px;
    }
    &:hover {
      & > span, & > a {
        color: var(--theColor4);
      }
    }
  }
  li {
    cursor: pointer;
    white-space: nowrap;
    & > span {
      display: flex;
      align-items: center;
      svg {
        transform: rotate(0deg);
        transition: 0.3s;
        margin-left: 8px;
        font-size: 12px;
      }
    }
  }

  .layoutNavPC-item-active {
    & > span {
      color: var(--theColor4);
      svg {
        transform: rotate(180deg);
      }
    }
    & > a {
      color: var(--theColor4);
    }
  }

  .layoutNavPC-one {
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 10px));
    left: 0;
    white-space: nowrap;
    background: var(--whiteColor);
    padding: 10px 0;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 0 0 10px rgba(112, 112, 112, 0.3);
    visibility: hidden;
    li {
      padding: 0 15px;
      &:hover  {
        .layoutNavPC-one-item {
          span {
            color: var(--theColor4) !important;
          }
        }
        & > .recursionNav {
          display: block;
        }
      }
    }

    & > li {
      position: relative;
    }

    .layoutNavPC-one-item {
      padding: 10px;
      min-width: 170px;
      border-radius: 10px;
      margin-bottom: 8px;
      a {
        display: flex;
        width: 100%;
        justify-content: left;
      }
    }
    .layoutNavPC-one-item, .layoutNavPC-one-item a {
      display: flex;
      align-items: center;
      position: relative;
      .layoutNavPC-one-icon {
        width: 44px;
        height: 44px;
        background: var(--whiteColor);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
      }
      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
      }
    }

    .recursionNav {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      box-shadow: 0 0 10px rgba(112, 112, 112, 0.3);
      background: var(--whiteColor);
      border-radius: 10px;
      padding: 10px 0;
      display: none;
      & > li {
        padding: 10px 20px;
        //width: 100px;
        position: relative;
        &:hover {
          & > span, & > a {
            color: var(--theColor4) !important;
          }
        }
        & > span, a {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}

.layoutNavPE {
  display: none;
  .layoutNavPE-menu {
    font-size: 24px;
  }
  @media (max-width: 860px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.languageButton {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  z-index: 10;
  &:hover {
    color: #1890ff;
  }
}

