.dataStatisticsHeader {
  //display: flex;
  //height: 100px;
  padding: 15px;
  :global {
    .dataStatisticsHeader-top {
      display: flex;
      justify-content: space-between;

      &-options {
        display: flex;

        .ant-select {
          margin-right: 20px;
        }
      }
    }

    .dataStatisticsHeader-accounts {

    }

    .dataStatisticsHeader-accountCount {

    }
  }
}