/*  全局css变量 */
:root {
  /* 深灰色 */
  --darkGreyColor: #555;
  /* 浅灰色 */
  --lightGreyColor: #888;
  /* 超浅灰色 */
  --superLightGreyColor: #d2d2d2;

  /* 超大号字 */
  --fs-xl: 20px;
  /* 大号字 */
  --fs-lg: 18px;
  /* 中号字 */
  --fs-md: 16px;
  /* 小号字 */
  --fs-sm: 14px;
  /* 超小号字 */
  --fs-xs: 12px;

  /*
    主题颜色逻辑在：main.tsx
   */

  /* 渐变背景色 */
  --gradientBackColor: linear-gradient(to right, #c565ef, #55D9ED);
  /*--gradientBackColor: linear-gradient(to right, #7881fd, #f2c3cf);*/

  /* 警告色 */
  --warningColor: #d48806;
  /* 错误色 */
  --errerColor: red;
  /* 成功色 */
  --successColor: #a66ae4;
}
