/*  全局css变量 */
:root {
  /* 中性面板色组---------------------------------------------------- */
  --whiteColor: #fff;
  --grayColor0: rgb(247,250,250);
  --grayColor1: #F3F3F3;
  --grayColor2: #EEEEEE;
  --grayColor3: #E7E7E7;
  --grayColor4: #DCDCDC;
  --grayColor5: #C5C5C5;
  --grayColor6: #A6A6A6;
  --grayColor7: #8B8B8B;
  --grayColor8: #777777;
  --grayColor9: #5E5E5E;
  --grayColor10: #4B4B4B;
  --grayColor11: #383838;
  --grayColor12: #2C2C2C;
  --grayColor13: #242424;
  --grayColor14: #181818;

  /* 超大号字 */
  --fs-xl: 20px;
  /* 大号字 */
  --fs-lg: 18px;
  /* 中号字 */
  --fs-md: 16px;
  /* 小号字 */
  --fs-sm: 14px;
  /* 超小号字 */
  --fs-xs: 12px;

  @media (min-width: 1600px) {
    --fs-xl: 22px;
    --fs-lg: 20px;
    --fs-md: 18px;
    --fs-sm: 16px;
    --fs-xs: 14px;
  }

  /* 主题色由浅到深 */
  --theColor1: #fbf0ff;
  --theColor2: #fbf0ff;
  --theColor3: #f9f0ff;
  --theColor4: #f4e6ff;
  --theColor5: #d8b5f5;
  --theColor6: #b08fcf;
  --theColor7: #896ca8;
  --theColor8: #654d82;
  --theColor9: #45355c;
  --primary-color: var(--theColor5);
  /* 原先为：#D7B4F5 */
  --primary-hover: var(--theColor6);

  /* 其它颜色 */
  --text-color: #1f2937;
  --border-color: #e5e7eb;
  --background-color: #f9fafb;
  --card-background: #fff;
  /* 错误颜色 */
  --error-color: #ef4444;
  /* 成功色 */
  --success-color: #10b981;
}
