.avatarPlat {
  position: relative;
  display: flex;
  justify-content: center;
  & > img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-10%, 20%);
    border-radius: 50%;
  }
}