.outsideCloseModal :global(.ant-modal-close) {
  position: absolute;
  top: -12px;
  right: -12px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outsideCloseModal :global(.ant-modal-close-x) {
  line-height: 1;
}

.outsideCloseModal :global(.ant-modal-content) {
  border-radius: 14px;
}
